/* Element Selector */
button {
  background-color: #ff008c;
  color: #110808;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Class Selector */
.search-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
}

/* ID Selector */
#results {
  margin-top: 20px;
}